.pizzaOrdered {
  display: none;
}
#another {
  display: none;
}

#anchovies {
  display: none;
  border-radius: 10px;
  width: 100px;
}
#olives {
  display: none;
  border-radius: 10px;
  width: 100px;
}
#cheese {
  display: none;
  border-radius: 10px;
  width: 100px;
}
#pepperoni {
  display: none;
  border-radius: 10px;
  width: 100px;
}
#salami {
  display: none;
  border-radius: 10px;
  width: 100px;
}

.images {
  display: inline-block;

}
 .pizzaForm {
   font-size: 22px;
   background-color: black;
   font-family: fantasy;
   color: white;
   padding: 10%;
   border-radius: 15px;
   width: 60%;
 }

 h1 {
   font-family: fantasy;
   font-size: 50px;
 }

body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#result {
  font-family: fantasy;
  padding-top: 30px;
  font-size: 20px;
}
